VITE_CHIAVETWITCH=your_twitch_client_id_here
KV_REST_API_URL=
KV_REST_API_TOKEN=
IUA_SECRET=
MOD_USERNAMES=streamer_username,mod1,mod2
VITE_DISCORD_INVITE=https://discord.gg/your_invite_code
VITE_DISCORD_SERVER_ID=your_discord_server_id
